<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img style="height: 300px; width: 300px;" src="../assets/images/image.png">
  </div>
  <span><strong>Upload Workbook</strong></span>
  <br />
  <br />
  <input type="file" id="input" (change)="readFile($event)">
  <br />
  <br />

  <div *ngIf="shouldDisplayWorkbookSections()">

    <vin-equipment-section></vin-equipment-section>

    <vin-coping-section></vin-coping-section>

    <vin-tile-section></vin-tile-section>

    <vin-lighting-section></vin-lighting-section>

    <vin-fascia-section></vin-fascia-section>

    <vin-decking-section></vin-decking-section>

    <vin-plaster-section></vin-plaster-section>

    <vin-water-and-extras-section></vin-water-and-extras-section>

    <vin-electrical-services-section></vin-electrical-services-section>

    <vin-startup-chemicals-section></vin-startup-chemicals-section>

  </div>
</div>