<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img style="height: 300px; width: 300px;" src="../assets/images/image.png">
  </div>
  <span><strong>Upload Workbook</strong></span>
  <br />
  <br />
  <input type="file" id="input" (change)="readFile($event)">
  <br />
  <br />



  <div *ngIf="shouldDisplayWorkbookSections()">

    <vin-equipment-section></vin-equipment-section>



    <div *ngIf="copingList.length > 0">
      <span><strong>Coping:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let coping of copingList; let i = index">
          {{i + 1}}. {{coping}}
        </li>
      </ul>
    </div>

    <div *ngIf="tileList.length > 0">
      <span><strong>Tile:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let tile of tileList; let i = index">
          {{i + 1}}. {{tile}}
        </li>
      </ul>
    </div>

    <div *ngIf="lightingList.length > 0">
      <span><strong>Lighting:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let lighting of lightingList; let i = index">
          {{i + 1}}. {{lighting}}
        </li>
      </ul>
    </div>

    <div *ngIf="fasciaList.length > 0">
      <span><strong>Fascia:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let fascia of fasciaList; let i = index">
          {{i + 1}}. {{fascia}}
        </li>
      </ul>
    </div>

    <div *ngIf="deckingList.length > 0">
      <span><strong>Decking:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let decking of deckingList; let i = index">
          {{i + 1}}. {{decking}}
        </li>
      </ul>
    </div>

    <div *ngIf="plasterList.length > 0">
      <span><strong>Plaster:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let plaster of plasterList; let i = index">
          {{i + 1}}. {{plaster}}
        </li>
      </ul>
    </div>

    <div *ngIf="waterAndExtraList.length > 0">
      <span><strong>Extras:</strong></span>
      <ul style="list-style: none;">
        <li *ngFor="let waterAndExtra of waterAndExtraList; let i = index">
          {{i + 1}}. {{waterAndExtra}}
        </li>
      </ul>
    </div>

    <div *ngIf="true">
      <span><strong>Electrical Services:</strong></span>
      <ul style="list-style: none;">
        <!-- <li *ngFor="let coping of copingList; let i = index">
          {{i + 1}}. {{coping}}
        </li> -->
      </ul>
    </div>

    <div *ngIf="true">
      <span><strong>Start up and chemicals:</strong></span>
      <ul style="list-style: none;">
        <!-- <li *ngFor="let coping of copingList; let i = index">
          {{i + 1}}. {{coping}}
        </li> -->
      </ul>
    </div>
  </div>
</div>